.f1-header {
  background-color: var(--color-header);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--component-border-weight) solid var(--color-outline);
}

.f1-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1-logo-img {
  height: 10px;
}