.f1-header {
  background-color: var(--color-header);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--component-border-weight) solid var(--color-outline);
}

.f1-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1-text {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text);
  letter-spacing: -2px;
  font-style: italic;
  transform: skewX(-8deg);
}

.f1-logo-img {
  width: 100px;
  height: auto;
}